
@using CcRep.Helpers
@using CcRep.Helpers.BreadCrumbs

@model CcRep.Models.dic.CodeTooling

@{
    ViewBag.Title = "Изменить код - " + Model.TypeTooling;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Crumbs breadCrumbs = CrumbsProvider.ForDirectories();
    breadCrumbs.AddRange(new Crumbs {
        new Crumb {Name = "Коды инструментов" },
        new Crumb {Name = "Изменить" },
        new Crumb {Name = Model.TypeTooling }
    });
}

@Html.BreadCrumbs(breadCrumbs, "Изменить код инструмента")

@using (Html.BeginCard("Изменение кода: " + Model.TypeTooling))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.TypeTooling, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TypeTooling, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TypeTooling, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescTooling, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescTooling, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescTooling, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BegDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BegDate, new { htmlAttributes = new { @class = "date-picker form-control" } })
                    @Html.ValidationMessageFor(model => model.BegDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "date-picker form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info">
                        <i class="la la-refresh"></i>&nbsp; Сохранить изменения &nbsp;
                    </button>
                </div>
            </div>
        </div>
    }

    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Перейти к списку", "Index")
    </div>
}
