@using CcRep.Helpers
@using CcRep.Helpers.BreadCrumbs
@using CcRep.Models.dic
@using CcRep.Helpers

@model IEnumerable<CcRep.Models.dic.AcctReport>

@{
    Crumbs breadCrumbs = CrumbsProvider.ForDirectories();
    breadCrumbs.AddRange(new Crumbs {
        new Crumb {Name = "Балансы второго порядка" },
        new Crumb {Name = "Список" }
    });

    ViewBag.Title = "Балансы второго порядка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BreadCrumbs(breadCrumbs, (string)ViewBag.Title)

@using (Html.BeginCard("Список доступных сущностей"))
{
    <table class="acctRepTbl table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Acc2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resident)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CntrPartner)
                </th>
                <th>Типы клиента</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acc2)
                    </td>
                    <td>
                        @Html.TrueFalseValue(item.Resident)
                    </td>
                    <td>
                        @Html.TrueFalseValue(item.CntrPartner)
                    </td>
                    <td>
                        @string.Join(", ", item.ClientTypes)
                    </td>
                    <td>
                        <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Изменить" href="@Url.Action("Edit", new { id = item.Id })"><i class='ft-edit-2'></i></a>
                        |
                        <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Посмотреть" href="@Url.Action("Details", new { id = item.Id })"><i class='ft-eye'></i></a>
                        |
                        <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Удалить" href="@Url.Action("Delete", new { id = item.Id })"><i class='red ft-trash-2'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts{
    <script>
    
        $(window).on('load', function () {
            $.fn.dataTable.ext.type.detect.unshift(
                function (d) {
                    if (d.indexOf('class="check-box"') != -1) {
                        return 'check-box-grade';
                    }
                    return null
                }
            );
            $.fn.dataTable.ext.type.order['check-box-grade-pre'] = function (d) {

                if (d.indexOf('checked="checked"') != -1) {
                    return 1;
                } else {
                    return 2;
                }
                return 0;
            };

            window.defaultDTable =  $('.acctRepTbl').DataTable({
                language: {
                    url: '/Content/lang/datatables_ru.json'
                },

                buttons: [
                    {
                        className: 'btn btn-outline-info btn-min-width mr-1 mb-1',
                        text: '<i class="la la-plus"></i> Добавить',
                        action: function (e, dt, button, config) {
                            window.location = '@Url.Action("Create")'
                        }
                    }
                ],
                dom: 'Blfrtip',
                "pageLength": 10,
                "bLengthChange": false,
                aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: [-1, -2]
                    },
                    {
                        render: RenderGridYesNo,
                        targets: [1,2]
                    }
                ]
            });
        });
    </script>
}
