@using CcRep.Helpers
@using CcRep.Helpers.BreadCrumbs
@model CcRep.Models.dic.PDType

@{
    Crumbs breadCrumbs = CrumbsProvider.ForDirectories();
    breadCrumbs.AddRange(new Crumbs {
        new Crumb {Name = "Виды подтверждающих документов" },
        new Crumb {Name = "Информация о записи" },
        new Crumb {Name = Model.CodePD },
    });

    ViewBag.Title = "Информация о виде ПД";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.BreadCrumbs(breadCrumbs, (string)ViewBag.Title)

@using (Html.BeginCard("Информация о виде ПД: " + Model.CodePD))
{
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodePD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodePD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescCodePD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescCodePD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BegDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BegDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>
    </div>
    <p>
        <div class="form-group">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button href="@Url.Action("Edit", new { id = Model.Id })" type="button" class="btn btn-cyan">Изменить</button>
                <button href="@Url.Action("Index")" type="button" class="btn btn-info">Перейти к списку</button>
            </div>
        </div>
    </p>
}
