@using CcRep.Helpers
@using CcRep.Helpers.BreadCrumbs

@model IEnumerable<CcRep.Models.dic.OperType>

@{
    ViewBag.Title = "Список кодов видов операций";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Crumbs breadCrumbs = CrumbsProvider.ForDirectories();
    breadCrumbs.AddRange(new Crumbs {
        new Crumb {Name = "Коды видов операций" },
        new Crumb {Name = "Список" }
    });
}

@Html.BreadCrumbs(breadCrumbs, (string)ViewBag.Title)

@using (Html.BeginCard("Списк доступных сущностей"))
{
<table class="DicTableList table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Oper_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperTypeDesc)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Oper_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperTypeDesc)
        </td>
        <td>		
            <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Изменить" href="@Url.Action("Edit", new { id = item.Id })"><i class='ft-edit-2'></i></a>
            |
            <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Посмотреть" href="@Url.Action("Details", new { id = item.Id })"><i class='ft-eye'></i></a>
            |
            <a data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Удалить" href="@Url.Action("Delete", new { id = item.Id })"><i class='red ft-trash-2'></i></a>
        </td>
    </tr>
}
    </tbody>
</table>

}
@section scripts{

@Html.Partial("../Shared/DTJsForDicts",
    new Dictionary<string, string>(2) {
        { "TableClass", "DicTableList" },
        { "BtnCreateText", "Добавить" }
    })
}
